@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Playfair+Display:wght@600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   @apply bg-black text-white font-sans;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #0e0e0e;
  color: white;
  

}
::selection {
  background-color: #d4af37;
  color: #000;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #d4af37;
  border-radius: 4px;
}
h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
}

.text-gold {
  color: #d4af37;
}

.bg-gold {
  background-color: #d4af37;
}

.border-gold {
  border-color: #d4af37;
}

.shadow-gold {
  box-shadow: 0 0 15px rgba(212, 175, 55, 0.4);
}

.glow-on-hover:hover {
  box-shadow: 0 0 10px rgba(212, 175, 55, 0.6);
  transition: all 0.3s ease-in-out;
}

@keyframes waveMotion {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-waveMotion {
  animation: waveMotion 15s linear infinite;
}
